/* style.css par Julien Bernard le 11/10/13 */

html {
	height: 100%;
	background-color: #ededed;
}

body {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #ededed;
}

@font-face{
	font-family: 'MALGUN';
	src: url('malgun.eot');
	src: url('malgun.eot?#iefix') format('embedded-opentype'),
		url('malgun.woff') format('woff'),
		url('malgun.ttf') format('truetype'),
		url('malgun.svg#webfont') format('svg');
}

#main {
	margin-top: 5%;
	margin-bottom: 5%;
}

#footer {
	width: 50%;
	margin: auto;
	text-align: center;
	border-top: 1px solid #7f8c8d;
	padding-top: 5px;
	font-size: 14px;
	font-family: MALGUN;
	color: #2c3e50;
}

a {
	color: #2980b9;
}
p {
	color: #212121;
}

.center {
	display: block;
	margin: 0;
	text-align: center;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}

/* Global style */
.smaller {
	font-size: 13px;
}

#modalCheck{
	display: none;
}
.Modal{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
#modalCheck:checked + .Modal, #modalContent:target{
	display: block;
}
.popup_block{
	position: absolute;
	left: 50%;
	z-index: 9999;
	height: auto;
	margin-left: -40%;
	width: 80%;
	background-color: white;
	padding: 1.25em;
	border: solid 1px #666666;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	top: 100px;
	color: #333;
}
img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
	cursor: pointer;
}